html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	background-color: #F9F9F9;
}

.main {
	letter-spacing: 0.8px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section {
	width: 47.5%;
}

@media (max-width: 768px) {
	.section {
		width: 100%;
	}
}

h1 {
	font-family: 'Quattrocento', serif;
	letter-spacing: 7px;
}

h2 {
	font-family: 'Quattrocento', serif;
}

p, li {
	font-family: 'Quicksand', sans-serif;
}

/*------------------------- NAV PANEL -------------------------*/

.nav {
	display: flex;
	justify-content: center;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 95%;
}

.nav-link {
	padding: 15px;
	line-height: 5	0px;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link:hover {
	color: red;
	box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.2);
}

/*------------------------- SECTION PROFILE -------------------------*/

.main-container .section:first-child {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding: 35px 0;
	background-color: #555353;
}

#profile .title {
	width: 390px;
	color: #fff;
}

#profile .title h1 {
	font-size: 60px;
	margin-bottom: 100px;
}

#profile .title p {
	font-size: 30px;
}

#profile img {
	border-radius: 50%;
}

/*------------------------- SECTION SUMMARY -------------------------*/

#summary {
	margin-top: 45px;
	padding-left: 45px;
	padding-right: 30px;
	box-sizing: border-box;
}

#summary p {
	text-align: justify;
}

/*------------------------- SECTION SKILLS -------------------------*/

#skills {
	padding-left: 45px;
	padding-right: 30px;
	box-sizing: border-box;
}

/*------------------------- SECTION CONTACTS -------------------------*/

#contacts {
	padding-left: 45px;
	padding-right: 30px;
	height: 300px;
	box-sizing: border-box;
}

.contacts-table {
	display: flex;
}

.icons-table {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	margin-right: 15px;
}

.contacts-table img {
	width: 20px;
	height: 20px;
}

/*------------------------- SECTION EXPERIENCES -------------------------*/

#experiences {
	margin-top: 45px;
	padding-right: 30px;
	box-sizing: border-box;
	background-color: #d1c3c9;
}

/*------------------------- SECTION LEVEL LANGUAGE -------------------------*/

#languages {
}

/*------------------------- FOOTER -------------------------*/

.footer .container {
	width: 95%;
}