html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	background-color: #F9F9F9;
}

.main {
	letter-spacing: 0.8px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section {
	width: 47.5%;
}

.section a {
	text-decoration: none;
	color: #807751;
	transition: 0.3s;
}

.section a:hover {
	text-shadow: 0px 0px 0.8px red;
	text-decoration: underline;
}

.section a:visited {
	color: #d1c3c6
}

@media (max-width: 768px) {
	.section {
		width: 100%;
	}
}

h1 {
	font-family: 'Quattrocento', serif;
	letter-spacing: 7px;
}

h2 {
	font-family: 'Quattrocento', serif;
}

p, li {
	font-family: 'Quicksand', sans-serif;
}

/*------------------------- NAV PANEL -------------------------*/

.nav {
	display: flex;
	justify-content: center;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 95%;
}

.nav-link {
	color: #000;
	padding: 10px;
	line-height: 50px;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 15px;
}

.nav-link:hover {
	color: red;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.2);
}

/*------------------------- SECTION PROFILE -------------------------*/

.main-container .section:first-child {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 35px 0;
	background-color: #555353;
}

#profile .title {
	width: 390px;
	margin-left: 20px;
	color: #fff;
}

#profile .title h1 {
	font-size: 60px;
	margin-bottom: 100px;
}

#profile .title p {
	font-size: 30px;
}

#profile img {
	border-radius: 50%;
}

@media (max-width: 860px) {
	#profile img {
		transform: scale(0.8);
	}

	#profile .title h1 {
		margin-bottom: 70px;
	}

	#profile .title p {
		font-size: 25px;
	}
}

@media (max-width: 680px) {
	.nav-list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.nav-link {
		line-height: 30px;
		padding: 0 10px 0 10px;
	}

	.main-container .section:first-child {
		flex-direction: column;
		text-align: center;
	}

	#profile .title {
		margin-left: 0;
	}

	#profile .title h1 {
		font-size: 55px;
		margin-bottom: 10px;
	}
}

/*------------------------- SECTION SUMMARY -------------------------*/

#summary {
	margin-top: 45px;
	padding-left: 45px;
	padding-right: 30px;
	box-sizing: border-box;
}

#summary p {
	text-align: justify;
}

@media (max-width: 768px) {
	#summary {
		padding-left: 35px;
		margin-top: 0;
	}
}

/*------------------------- SECTION SKILLS -------------------------*/

#skills {
	padding-left: 45px;
	padding-right: 30px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	#skills {
		padding-left: 35px;
		padding-right: 30px;
	}
}

/*------------------------- SECTION CODE -------------------------*/

@media (max-width: 768px) {
	#code {
		padding-left: 35px;
		padding-right: 30px;
	}

	#code code {

	}
}

/*------------------------- SECTION CONTACTS -------------------------*/

#contacts {
	padding-left: 45px;
	padding-right: 30px;
	height: 300px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	#contacts {
		padding-left: 35px;
		padding-right: 30px;
	}
}


.contacts-table {
	display: flex;
}

.icons-table {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	margin-right: 15px;
}

.contacts-table img {
	width: 20px;
	height: 20px;
}

/*------------------------- SECTION EDUCATION, COURSES, TRAININGS, SELF-EDUCATION -------------------------*/

@media (max-width: 768px) {
	#education {
		padding-left: 35px;
		padding-right: 30px;
	}
}

/*------------------------- SECTION EXPERIENCES -------------------------*/

#experiences {
	margin-top: 45px;
	padding-right: 30px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	#experiences {
		padding-left: 35px;
		padding-right: 30px;
		margin-top: 0;
	}
}

/*------------------------- SECTION LEVEL LANGUAGE -------------------------*/

.main-container .section:last-child {
	width: 95%;
	padding-left: 45px;
	padding-right: 30px;
	box-sizing: border-box;
	padding-bottom: 15px;
}

@media (max-width: 768px) {
	.main-container .section:last-child {
		width: 100%;
		padding-left: 35px;
	}
}

/*------------------------- FOOTER -------------------------*/

.footer .container {
	display: flex;
	justify-content: center;
}

.footer .container-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	border-top: 1px solid #000;
}

.footer .container-footer .github-logo {
	width: 50px;
}

.footer .container-footer p {
	font-size: 26px;
	font-weight: bold;
}

.footer .container-footer .rs-logo {
	width: 120px;
}

